@font-face {
    font-family: 'S-Core Dream 4';
    src: url('S-CoreDream-4Regular.eot');
    src: url('S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-4Regular.woff2') format('woff2'),
        url('S-CoreDream-4Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream 5';
    src: url('S-CoreDream-5Medium.eot');
    src: url('S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-5Medium.woff2') format('woff2'),
        url('S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

